@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #EBEBEB;
    border-radius: 10px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 10px;
    background: #21272B;
    position: relative;
    width: 980px;
    height: 80px;

}

.logo_iate {
    position: absolute;
    height: 55px;
    left: 20px;
    top: 10px;
}

.luxo {
    position: absolute;
    width: 60px;
    height: 29px;
    left: 76px;
    top: 10px;
    font-family: 'Istok Web';
    font-style: italic;
    color: #1BB4E8;
    font-weight: 400;
    font-size: 20px;

}

.aluguel {
    position: absolute;
    width: 152px;
    height: 30px;
    left: 75px;
    top: 35px;
    color: #FFFFFF;
    font-family: 'Istok Web';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    flex-direction: row;
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    top: 45px;
    right: 5px;
    text-align: center;
}

.menu li {
    display: inline-block;
    font-family: 'Istok Web';
    font-size: 14px;
}

.menu li a {
    display: line block;
    color: #FFFFFF;
    padding-right: 20px;
    padding-left: 16px;
    text-decoration: none;
}

.menu li a:hover:not(.menu) {
    color: #1BB4E8;
}

.item-menu {
    text-align: center;
    border-right: solid 1px #d8d7d7;
}

.conteudo {
    position: absolute;
    width: 980px;
    height: 1120px;
    top: 80px;
    background: #FFFFFF;
}

.titulo {
    background: linear-gradient(202.27deg, #DCBC74 24.34%, rgba(193, 164, 98, 0.8) 59.21%);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    margin-top: 90px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
}

.texto {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    margin-top: 90px;
    text-align: center;
}

.conteudo-botao {
    padding-left: 19px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.botao-01,
.botao-02,
.botao-03,
.botao-04 {
    border: none;
    text-align: center;
    text-decoration: none;
    all: unset;
    cursor: pointer;
    outline: revert;
}

.texto-botao1,
.texto-botao2,
.texto-botao3,
.texto-botao4 {
    position: relative;
    color: #f6f2f2;
    left: 25px;
    height: 40px;
    top: -65px;
}

.botao-01:hover,
.botao-02:hover,
.botao-03:hover,
.botao-04:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(0.9)
}

.rodape {
    background: #EBEBEB;
    background-blend-mode: darken;
    mix-blend-mode: multiply;
    position: relative;
    width: 988px;
    height: 40px;
    top: 1080px;
    padding: 10px;
}